@using PersonalWebsiteWebAppClinic.Entity;
@using HtmlAgilityPack;
@using System.Text.RegularExpressions;

@model List<ResourceEntity>
@{
    ViewBag.Title = "Resources";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Resources</h2>
    </div>
    <div class="col-lg-2">

    </div>

    <div class="wrapper wrapper-content  animated fadeInRight blog">
        @{
            if (Model != null)
            {
                foreach (ResourceEntity item in Model)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox">
                                        <div class="ibox-content">
                                            <a href="@Url.Action("GetResource", "Resource", new { @id = item.Id })" class="btn-link">
                                                <h2>
                                                    @item.Title
                                                </h2>
                                            </a>                                            
                                            <div class="ibox-tools">
                                                <a href="@Url.Action("GetResource", "Resource", new { @id = item.Id })" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> View Resource </a>&nbsp;
                                                <a href="@Url.Action("RenderResourceEditView", "Resource", new { @id = item.Id })" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                                            </div>
                                            <p>
                                                @if (item.HtmlDocument != null)
                                                {
                                                    string htmlContent = HMTLHelperExtensions.HtmlToPlainText(item.HtmlDocument);
                                                    if (htmlContent.Length > 4000)
                                                    {
                                                        @htmlContent.Substring(0, 4000);
                                                    }
                                                    else
                                                    {
                                                        @htmlContent;
                                                    }
                                                }
                                            </p>
                                        </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>    